html,
body,
.full-height {
  height: 100%;
}
body {
  overflow-x: hidden;
  padding-bottom: 160px;
  background-color: #fbfbfb;
}
.source {
  width: 100%;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 13px;
  padding: 2px;
}
.result-html {
  padding: 2px 10px;
  overflow: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.result-html img {
  max-width: 35%;
}
.demo-control {
  position: absolute;
  right: 15px;
  top: -17px;
  border-radius: 6px 6px 0 0;
  font-size: 12px;
  background-color: #ddd;
}
.demo-control a {
  padding: 0 20px;
}
.demo-control a:first-child {
  padding-left: 30px;
}
.demo-control a:last-child {
  padding-right: 30px;
}
.gh-ribbon {
  display: block;
  position: absolute;
  right: -60px;
  top: 44px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 230px;
  z-index: 10000;
  white-space: nowrap;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #686868;
  box-shadow: 0 0 2px rgba(102,102,102,0.4);
  padding: 1px 0;
}
.gh-ribbon a {
  text-decoration: none !important;
  border: 1px solid #ccc;
  color: #fff;
  display: block;
  font-size: 13px;
  font-weight: 700;
  outline: medium none;
  padding: 4px 50px 2px;
  text-align: center;
}

