.demo-column {
  flex: 1 1 0;
  min-width: 0;
}

.src #source {
  background-color: #fffffb;
  border: 1px solid #888;
  border-radius: 3px;
  box-shadow: 0 0 3px #ccc inset;
}

#source,
#result {
  flex: 1 1 auto;
  height: 100%;
  min-height: 0;
  width: 100%;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 13px;
  padding: 4px 6px;
}

#source {
  resize: none;
}

#result {
  overflow: auto;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  background-color: #F8F8F8;
  border: 1px solid #ddd;
  border-radius: 3px;
}
#result img {
  max-width: 35%;
}

.github-link {
  color: #333;
}
.github-link:hover {
  color: #000;
}
.github-link svg {
  display: block;
  fill: currentColor;
  height: 32px;
  width: 32px;
}
